@font-face {
  font-family: timerFont;
  src: url('../assets/fonts/technology/Technology.ttf');
}

.container {
  margin: 30px;
  display: flex;
  justify-content: center;
  font-family: timerFont;

  .timer {
    display: flex;
    justify-content: center;
    font-size: 60px;

    .number {
      width: 26px;
      text-align: end;
    }

    .minutes, .seconds {
      display: flex;
      justify-content: center;
    }
  }

  .state {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .button_container {
    display: flex;
    justify-content: center;
  }
}
